.ticketPageButton {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.ticketPageButton button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #1abc9c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ticketPageButton button:hover {
  background-color: #109177;
}
